<% if (typeof error_msg !== 'undefined') { %>
    <h1 style="color: red;"> <%= error_msg %> </h1>
<% } %>

<form action="/contact" method="post">
    <label for="name">Nama : </label>
    <input type="text" class="form-control" id="nama" name="nama" value= <%= contact.nama %> required>

    <label for="phone">Telepon : </label>
    <input type="text" class="form-control" id="telepon" name="telepon" value= <%= contact.telepon %> required>
    
    <label for="email">Email : </label>
    <input type="text" class="form-control" id="email" value= <%= contact.email %> name="email">
    
    <input type="hidden" name="method" value="update">
    <input type="hidden" name="id" value= <%= id %>>

    <button type="submit" class="btn btn-success">Submit</button>
</form>